:root {
  --background-color: #444;
  --button-color: #555;
  --internal-background-color: #333;
  --edge-color: #000;
  --text-color: white;
  --border-properties: 1px var(--edge-color);
  --thin-border-propertes: 1px var(--edge-color);
  --padding-properties: 0%;
}

* {
  box-sizing: border-box;
}


input[type='text'],
input[type='number'] {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #777;
  color: #333;
  font-size: 16px;
  width: 150px;
}

input[type='text']:focus,
input[type='number']:focus:focus {
  border-color: #888;
  outline: none;
}

button {
  background-color: var(--button-color);
  border: var(--thin-border-propertes);
  color: var(--text-color);
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Section {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--padding-properties);
  border-right: var(--border-properties);
}

.SubSection {
  background-color: var(--internal-background-color);
  border: var(--border-properties);
  padding: 10px;
  border: 1px solid #222;
}

.List {
  display: flex;
  justify-content: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3px;
}

.App {

  text-align: center;
  overflow: hidden;
  height: 100vh;
  gap: 1px;
  background-color: black;

  display: grid;
  grid-template-columns: [cero] 80% [one] 20% [two];
  grid-template-rows: [cero] 5% [one] 95% [two];

}

.Header {

  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom: var(--border-properties);

  grid-column: cero / three;
  grid-row: cero / one;

}

.EditableField {
  display: grid;
  grid-template-columns: 80% 20%;
}

.EditableFieldValue{
  grid-column: 1 / 2;
}

.EditableFieldButton{
  grid-column: 2 / 3;
}



.selectable {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #555;
}


.itemselected{
  font-weight: bold;
}

.entry {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  background-color: #777;
  justify-content: space-around;
}

.field {
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  grid-column: 1 / 2;
}

.value  {
  grid-column:  2 / 3;
  text-align: right;
  color: white;
  overflow: hidden;  /* Prevents content from overflowing */
}


input {
  max-width: 95%; /* or another appropriate value */
  box-sizing: border-box;
}



@media (max-width: 600px) {

  .EditableFieldContainer {
    grid-template-columns: 1fr;
  }

  .entry {
    grid-template-columns: 1fr;
  }

}