html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: #e0e0e0;
}

.main {
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    min-height: 100vh;
    gap: 1rem;
    padding: 1rem;
}


.botones {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2vw;
    gap: 1vw;
    flex-wrap: wrap;
}

.botones button {
    width: 4vw;
    padding: 1vw;
    border: none;
    border-radius: 4px;
    background-color: #606060;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones button:hover {
    background-color: #808080;
}

.ventana {
    position: absolute;
    width: 40%;
    height: 35%;
    background-color: #505050;
    display: flex;
    justify-content: space-evenly;
    gap: 0.2vh;
    flex-direction: column;
    justify-content: flex-start;
    border: 0.3vh solid #000;
    border-radius: 8px;
    padding: 2vh;
    transform: translate(90%, 70%);
    overflow: scroll;
    font-size: calc(0.5vh + 0.5vw);
}

.ventana button {
    margin-top: 1vh;
    padding: 0.5vh 1vh;
    background-color: #707070;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: calc(1.25vh + 0.5vw);
}

.ventana p {
    font-size: calc(1.5vh + 0.5vw);
}

.ventana button:hover {
    background-color: #606060;
}

.ventana .cerrar {
    position: absolute;
    right: 2vh;
    top: 2vh;
    cursor: pointer;
    color: #fff;
    font-size: calc(1.5vh + 1vw);
    transition: color 0.3s;
}

.ventana .cerrar:hover {
    color: #f00;
}

.ventana input {
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
    padding: 0.5vh;
    border: 1px solid #606060;
    border-radius: 4px;
    background-color: #404040;
    color: #fff;
    height: 2.5vh;
    font-size: calc(1vh + 0.5vw);
}

.ventana label {
    margin-right: 1vh;
    color: #e0e0e0;
    font-size: calc(1vh + 1vw);
    user-select: none;
}


.seleccionado {
    font-weight: bold;
    color: #ffcc00;
}

.contenedor {
    background-color: #282828;
    border: 0.3vh solid #fff;
    padding: 0.1vh;
    border-radius: 8px;
}

.contenedor p {
    transform: translate(-0.1%, -60%);
}

.contenedor.mesociclos {
    grid-row: 1 / 14;
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
}

.contenedor.mesociclos input {
    margin-left: 2.5vw;
    width: 8vw;
}

.contenedor.mesociclos ul li {
    padding: 1vh;
}

.contenedor.atletas {
    grid-row: 15 / 30;
    grid-column: 1 / 6;
}

.contenedor.microciclos {
    grid-row: 1 / 5;
    grid-column: 7 / 20;
}

.contenedor.entrenamientos {
    grid-row: 1 / 5;
    grid-column: 21 / 29;
}


.contenedor p {
    margin-left: 1.5vh;
}

.listado-items {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #606060 #282828;
}

.listado-items.microciclos {
    transform: translate(0%, -30%);
    height: 4.6vh;
    overflow-y: scroll;
    margin-left: 1vh;
}

.listado-items.entrenamientos {
    transform: translate(0%, -30%);
    height: 4.6vh;
    overflow-y: scroll;
    margin-left: 2vh;
}

.listado-items::-webkit-scrollbar {
    width: 0.5em;
}

.listado-items::-webkit-scrollbar-track {
    background: #282828;
}

.listado-items::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 10px;
    border: 3px solid #282828;
}

.calendario-microciclo,
.calendario-entrenamiento {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c3c3c;
    border-radius: 4px;
    color: #fff;
}

.calendario-microciclo {
    max-width: 100%;
    max-height: 100%;
    color: #fff;
}

.calendario-entrenamiento {
    max-width: 100%;
    max-height: 100%;
}

.contenedor.tabla-entrenamiento {
    grid-row: 6 / 16;
    grid-column: 7 / 29;
    overflow-x: scroll;
}

table {
    margin: 1vh;
}

tr {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0.3vh solid #fff;
}

th {
    display: flex;
    width: 8vh;
    height: 5vh;
    align-items: center;
    justify-content: center;
    border: 0.1vh solid #fff;
}

:root {
    --grid-row-height: 1fr; /* Define the height of a single grid row */
}

:root {
    --grid-row-height: 1fr; /* Define the height of a single grid row */
}

.contenedor.detalle-atletas {
    grid-row: 17 / 30;
    grid-column: 7 / 29;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it fills the assigned grid rows */
}

.info-atleta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: scroll; /* Enable vertical scrolling */
}

.info-atleta h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.info-general,
.info-estadisticas {
    display: flex;
    flex-direction: column;
}

.info-general input[type="number"], 
.info-estadisticas input[type="number"] {
    border: none;
    background: none;
    font: inherit;
    text-align: center;
    width: 3em;
}

